<section class="player">

  <audio id="medio" type="audio/mp3">

  </audio>

  <nav>


    <mat-slider class="slider" color = "warn" min="0" max="{{MAXsongTimeBar}}"  value="{{songTimeBar}}"  (change)="onSliderChange($event)" (input)="onSliderChange($event)"></mat-slider>

    <div class="contador">
      <span id="paso">{{songTimeChrono}}</span>/<span id="duration">{{MaxsongTimeChrono}}</span>
    </div>
    <br style="height: 20px;">

    <div class ="buttons">

    <button mat-icon-button (click)="reproducir()" ><i class="material-icons">play_circle_outline</i></button>

    <button mat-icon-button (click)="pausa()" ><i class="material-icons">pause_circle_outline</i></button>

    <button mat-icon-button (click)="stop()" ><i class="material-icons">stop</i></button>

    </div>
  </nav>
