<section class="player">

  <audio id="medio"   type="audio/mp3">
    <source src="assets/GetLucky.mp3" type="audio/mp3" >
  </audio>

  <div class="contador">
    <span id="currentTime">00:00</span> / <span id="duration">00:00</span>
  </div>

  <nav>

    <div class="barra">
      <div class="progreso">
        <div class="posicion"></div>
      </div>
    </div>

    <button class="Play"type="button" name="Play" (click)="reproducir()"></button>
    <button class="Pause"type="button" name="Pause"></button>
    <button class="Stop"type="button" name="Stop"></button>


  </nav>
