/*.player{
  left: 0;
  background-color: #1976D3;  
  width: 25em;
  padding: .3em 0;
  height: 75px;
  border-radius: 4px;
}

.slider{
  top: -1em;
  align-content: center;
  width: 6em;
  left: 7em;
  position: relative;
  
}

.contador{
  top: -4.2em;
  width: 6em;
  background-color: #FFF;
  font-size: 11px;
  text-align: center;
  font-style: bold;
  border-radius: 4px;
  left: 25.5em;
  position: relative;
}


.buttons{
  top: -4.5em;
  position: relative;
  left:8em;

}
*/