.player{
  left: 0;
  background-color: #1976D3;
  margin: .5em;
  width: 25em;
  padding: .3em 0;
  height: 4em;
  border-radius: 4px;

}

.slider{
  align-content: center;
  width: 6em;
  background-color: #FFFFFF;
  font-size: 11px;
  font-style: bold;
  border-radius: 4px;
  left: 6em;
  position: relative;
}

.contador{
  top: -2.1em;
  width: 6em;
  background-color: #FFF;
  font-size: 11px;
  text-align: center;
  font-style: bold;
  border-radius: 4px;
  left: 25.5em;
  position: relative;
}


.buttons{
  top: -3.2em;
  position: relative;
  left:8em;

}
