<section class="player">

  <audio id="medio"   type="audio/mp3">

  </audio>

  <div class="contador" id="contador">
    <span id="minutes">00</span>:<span id="seconds">00</span>
    <span id="currentTime"></span> / <span id="duration">00:00</span>
  </div>

  <nav>

    <div class="barra">
      <div class="progreso">
        <div class="posicion"></div>
      </div>
    </div>

    <button class="Play"type="button" name="Play" (click)="reproducir()"></button>
    <button class="Pause"type="button" name="Pause" (click)="pausa()"></button>
    <button class="Stop"type="button" name="Stop" (click)="stop()"></button>


  </nav>
