<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Feelplay"
    src="https://i.ibb.co/4P7pLTW/logo.png"
  />
  <span>Inicio</span>
      <div class="spacerToolbar"></div>
  <a href="canciones/canciones.component.html"><span class="toolbar">Canciones</span></a>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <h1>{{ title }} </h1>
  </div>
  <!-- Insertamos el routerlink canciones-->
  <nav>
  <a routerLink="/inicio">Inicio</a>
  <a routerLink="/canciones">Lista de canciones</a>
</nav>
  <router-outlet></router-outlet>

  <!-- Insertamos el componente reproductor en la aplicación-->
<app-reproductor></app-reproductor>

  <span> <i>By: Grupo MimeticCode</i> </span>
