<!-- Toolbar -->
<div class="container">
  <app-header></app-header>
</div>

<!--
<div class="toolbar" role="banner">  
  <span>Inicio</span>
  <div class="spacerToolbar"></div>
  <a href="canciones/canciones.component.html"><span class="toolbar">Canciones</span></a>
    <div class="spacer"></div>
</div>
-->

<div class="content" role="main">

  <!-- Insertamos el routerlink canciones
  <nav>
  <a routerLink="/inicio">Inicio</a>
  <a routerLink="/canciones">Lista de canciones</a>
</nav>-->

  <router-outlet></router-outlet>

  <app-footer></app-footer>  
</div>
