<h2 class="center">Lista de canciones</h2>
<ul class="canciones">
  <!-- Dentro de ngFor las palabras let of permiten indicar qué parametros de cancion buscar en la cadena CANCIONES
Mientras haya canciones en la array irá creándolas -->
<app-cancion-search></app-cancion-search>
<mat-list>
  <mat-list-item *ngFor="let cancion of canciones">
   <a routerLink="/detail/{{cancion.id}}">

    <mat-icon>music_note</mat-icon><span class="badge"> {{cancion.sTitle}}</span> - <b>{{cancion.author}}</b> - <i>{{cancion.style}}</i>

    </a>
  </mat-list-item>
  </mat-list>
  <br>
  <mat-card>Aplicación creada con Angular con mucho amor</mat-card>
  <button mat-raised-button color="primary" (click)="goBack()">Atrás</button>
</ul>
